---
permalink: /
homepage: true
---
<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
  <div class="overlay"></div>
  <!-- Centralized content -->
  <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-about">
                <img src="/images/welcome/logo_welcome.png" width="140" height="140" alt="Treble">
              </a>
            </div>
            <div class="scrollDown">
              <a href="#page-about">
                <img src="/images/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
              </a>
            </div>
          </div>

          <h2 class="line-divider">纯映文化传播有限公司</h2>
          <div id="welcome-messages">
            <ul class="slides">
              <li>
                <h3>创意广告片</h3>
              </li>
              <li>
                <h3>企业宣传短片</h3>
              </li>
              <li>
                <h3>大型活动纪录片</h3>
              </li>
            </ul>
          </div>
          <div class="social-icons sicon-white bordered">
            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | Welcome -->

<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
  <div class="container">
    <header>
      <h4 class="line-divider">关于我们</h4>
      <h1>纯映团队</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            人才是成功之本。而我们的人才，是公司最重要的基础和资产。
          </p>
          <p>
            我们的团队勇于面对挑战，纯粹因为他们希望这样，而非被告诫如此。
          </p>
          <p>
            我们喜欢尝新，亦乐意冒险。我们的团队时常「勇字先行」，不当潮流的奴僕。
          </p>
        </div>
      </div>
    </header>
    <article>
      <ul class="thumbnails about-items">
        <li class="span3 center">
           <div class="item">
            <img class="nothr" src="/images/about/image-1.jpg">
            <div class="about-overlay">
              <div class="about-text">
                音乐响起，为你展开一段蒙太奇之旅
              </div>
            </div>
          </div>
        </li>
        <li class="span3 center">
          <div class="item">
            <img class="nothr" src="/images/about/image-2.jpg">
            <div class="about-overlay">
              <div class="about-text">
                每个故事都需要述说者
              </div>
            </div>
          </div>
        </li>
        <li class="span3 center">
          <div class="item">
            <img class="nothr" src="/images/about/image-3.jpg">
            <div class="about-overlay">
              <div class="about-text">
                光与影
              </div>
            </div>
          </div>
        </li>
        <li class="span3 center">
          <div class="item">
            <img class="nothr" src="/images/about/image-4.jpg">
            <div class="about-overlay">
              <div class="about-text">
                实现每一次的异想天开
              </div>
            </div>
          </div>
        </li>
      </ul>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | ABOUT -->

<div class="pages white paralax page-features" id="page-features">
  <div class="overlay"></div>
  <div class="container">
    <header>
      <h3 class="line-divider">我们的工作室</h3>
      <div class="row">
        <div class="span8 offset2">
          <p>
            舒适的工作环境是灵感之源泉，同时也提高我们的工作效率。
          </p>
        </div>
      </div>
    </header>
    <article>
      <div id="swiper" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/images/studio/studio1.jpg" alt="slider image 1" ></div>
          <div class="swiper-slide"><img src="/images/studio/studio2.jpg" alt="slider image 2"></div>
          <div class="swiper-slide"><img src="/images/studio/studio3.jpg" alt="slider image 3"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio4.jpg" alt="slider image 4"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio5.jpg" alt="slider image 5"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio6.jpg" alt="slider image 6"/></div>
        </div>
      </div>
    </article>
  </div>
</div>
<!-- END PAGE | FEATURES -->


<!-- PAGE | WORK -->
<div class="pages page-work" id="page-work">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">我们的作品</h4>
      <h1>精选作品展示</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            我们为您挑选了几个作品。
          </p>
        </div>
      </div>
      <nav class="submenu">
        <ul>
          <li>
            <a href="#" class="plugin-filter active" data-filter="all">显示全部</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="实拍广告">实拍广告</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="品牌宣传片">品牌宣传片</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="活动花絮">活动花絮</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="纪录片">纪录片</a>
          </li>
        </ul>
      </nav>
    </header>
    <article>
      <ul class="thumbnails plugin-filter-elements portfolio-items">
        {{#each posts.work}}
        <li class="span4 mix {{join data.category " "}}">
          <a href="#{{filename}}" data-destination="portfolio-items" data-insert="before">
            <img src="{{data.image}}">
            <div class="details">
              <h3 class="project-title">{{data.title}}</h3>
              <small>{{data.subtitle}}</small>
            </div>
          </a>
        </li>
        {{/each}}
      </ul>
    </article>
    <footer>
      <div class="show-more-cube">
         <a href="#/work/more/" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
          <span>显示<br/>更多</span>
        </a>
      </div>
    </footer>
    <!-- End footer -->
  </div>
</div>
<!-- END PAGE | WORK -->
