---
permalink: /
homepage: true
---
<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
  <div class="overlay"></div>
  <!-- Centralized content -->
  <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-about">
                <img src="/images/welcome/logo.png" width="140" height="140">
              </a>
            </div>
          </div>

          <h2 class="line-divider">纯映文化传播有限公司</h2>
          <div id="welcome-messages">
            <ul class="slides">
              <li>
                <h3>影视宣传广告</h3>
              </li>
              <li>
                <h3>活动项目花絮</h3>
              </li>
              <li>
                <h3>企业（产品）专题片</h3>
              </li>
              <li>
                <h3>微电影</h3>
              </li>
              <li>
                <h3>新媒体影视项目策划</h3>
              </li>
            </ul>
          </div>
          <div class="social-icons sicon-white bordered">
            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | Welcome -->

<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
  <div class="container">
    <header>
      <h4 class="line-divider">关于我们</h4>
      <h1>公司简介</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            传统的广告公司，标准流程是先制定策略、创意，再交由制作公司执行，制作公司再找导演，攒成一个团队完成作品，整个流程非常复杂漫长。随着新媒体的发展，社会信息变化快，客户需求也因此变化快，所以一定要追求制作效率，我们公司坚持轻团队理念，扁平化结构，不发展大规模团队，不分部门，不走流程，每个人都有完整独立的制片能力，所以我们能针对客户的核心诉求快速制定简洁直接的提案，并能对客户的反馈作快速的响应。
          </p>
        </div>
      </div>
    </header>
  </div>
</div>
<!-- END PAGE | ABOUT -->

<div class="pages white paralax page-features" id="page-features">
  <div class="overlay"></div>
  <div class="container">
    <header>
      <h3 class="line-divider">我们的工作室</h3>
      <div class="row">
        <div class="span8 offset2">
          <p>
            舒适的工作环境是灵感之源泉，同时也提高我们的工作效率。
          </p>
        </div>
      </div>
    </header>
    <article>
      <div id="swiper" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/images/studio/studio-1.jpg" alt="slider image 1" ></div>
          <div class="swiper-slide"><img src="/images/studio/studio-2.jpg" alt="slider image 2"></div>
          <div class="swiper-slide"><img src="/images/studio/studio-3.jpg" alt="slider image 3"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio-4.jpg" alt="slider image 4"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio-5.jpg" alt="slider image 5"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio-6.jpg" alt="slider image 6"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio-7.jpg" alt="slider image 7"/></div>
        </div>
      </div>
    </article>
  </div>
</div>
<!-- END PAGE | FEATURES -->


<!-- PAGE | WORK -->
<div class="pages page-work" id="page-work">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">我们的作品</h4>
      <h1>专注。极致</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            随着发展，影视行业已经变得专业化和细分化，从以前一家影视公司包揽全部器材全部技术人员，到现在制片、灯光、美指、收音等已经分离出来各自独立成专门的技术团队。我们始终视创意为我们团队的核心竞争力，专注于创意、拍摄、剪辑这三项核心环节，其他部分则与最优秀的供应商团队合作。做事情，只有专注了，才能做到极致。
          </p>
        </div>
      </div>
      <nav class="submenu">
        <ul>
          <li>
            <a href="#" class="plugin-filter active" data-filter="all">显示全部</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="影视宣传广告">影视宣传广告</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="企业（产品）专题片">企业（产品）专题片</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="微电影">微电影</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="新媒体影视项目策划">新媒体影视项目策划</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="活动项目花絮">活动项目花絮</a>
          </li>
        </ul>
      </nav>
    </header>
    <article>
      <ul class="thumbnails plugin-filter-elements portfolio-items">
        {{#each posts.work}}
        <li class="span4 mix {{join data.category " "}}">
          <a href="#{{filename}}" data-destination="portfolio-items" data-insert="before">
            <img src="{{data.image}}">
            <div class="details">
              <h3 class="project-title">{{data.title}}</h3>
              <small>{{data.subtitle}}</small>
            </div>
          </a>
        </li>
        {{/each}}
      </ul>
    </article>
    <!-- End footer -->
  </div>
</div>
<!-- END PAGE | WORK -->
