---
layout: none
permalink: /work/more/
---
{{#each posts.work2}}
<li class="span4 mix {{join data.category " "}}">
  <a href="#{{filename}}" data-destination="portfolio-items" data-insert="before">
    <img src="{{data.image}}">
    <div class="details">
      <h3 class="project-title">{{data.title}}</h3>
      <small>{{data.subtitle}}</small>
    </div>
  </a>
</li>
{{/each}}
