---
layout: blog.hbs
permalink: /blog/
---
{{#BlogList pages}}
<article>
  <h5>
    <a href="{{data.permalink}}">{{data.title}}</a><br/>
    <small>{{formatDate data.date "%Y年%m月%d日"}}</small>
  </h5>
  <a href="{{data.permalink}}">
    <img src="{{data.image}}">
  </a>
  <p>
    {{data.excerpt}}
  </p>
  <div class="read-more">
    <a href="{{data.permalink}}">Read More...</a>
  </div>
</article>
{{/BlogList}}
<div class="pagination center">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active"><span>1</span></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
