---
layout: blog.hbs
permalink: <%= makePermalinks(Math.ceil(blog.count(pages)/blog.postsPerPage)) %>
---
{{#BlogList pages blog.postsPerPage}}
<article>
  <h5>
    <a href="{{data.permalink}}">{{data.title}}</a><br/>
    <small>{{formatDate data.date "%Y年%m月%d日"}}</small>
  </h5>
  <p><a href="{{data.permalink}}">
    <img src="{{data.image}}">
  </a></p>
  <p>
    {{data.excerpt}}
  </p>
  <div class="read-more">
    <a href="{{data.permalink}}">阅读全文...</a>
  </div>
</article>
{{/BlogList}}
<div class="pagination center">
  <ul>
    {{{BlogPages pages blog.postsPerPage}}}
  </ul>
</div>
